<h3>Sing In..</h3>

<form action="/admin" method="post">

    <label for="UserName"><b>UserName</b></label>
    <input type="text" placeholder="Enter User Name." name="username">
    <label for="Password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password." name="password">

    <input type="submit" name="btn" class="btn" value="LogIn">

</form>

<!--<h3>Register Here..</h3>
<form action="/register" method="post">

    <label for="UserName"><b>UserName</b></label>
    <input type="text" placeholder="Enter User Name." name="username">
    <label for="Password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password." name="password">

    <input type="submit" name="btn" value="Register.">

</form>-->