<div class="searchBar">
    <div class="container">
        <form action="/search" class="search__form" role="search" method="post">
            <input type="search" aria-label="search" id="searchInput" name="searchTerm" placeholder="Search what's in Your Mind!">
        </form>
        <div id="searchclose">Close</div>
    </div>
</div>